@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;

}

.header{
    width:100%;
    line-height: 70px;
    background: rgb(226, 186, 5);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}

.heading{
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Concert One', cursive;
    color: white;
    letter-spacing: 5px;
}

.main_note{
    width: 500px;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
}

form{
    min-height: 50px;
    color: white;
    padding: 12px 10px 5px 10px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: relative;
}

input{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none ;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    font-weight: bold;
}

textarea{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 15px;
}

::placeholder{
    color: rgba(186, 183, 183 , 0.7);
}

.btn1{
    width: 50px !important;
    height: 50px !important;
    margin-left: 420px !important;
    color:white !important;
    border: none !important;
    background:#f4b400 !important;
    cursor: pointer !important;
    outline: none !important;
    box-shadow: 5px 5px 15px -10px rgba(0,0,0,0.5) !important;
    border-radius: 50% !important;
}

.plus_sign{
    font-size: 30px !important;
    font-weight: 900 !important;
    color:white;
    cursor: pointer;
    background: transparent;
}

.note{
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1{
    font-size: 1.1rem;
    margin-bottom: 3px;
    text-align: center;
}

.note p{
    font-size: 1.1rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.btn{
    width: 50px !important;
    height: 50px !important;
    position:relative !important;
    float:right !important;
    margin-right: -10px !important;
    margin-bottom: -10px !important;
    color: red !important;
    border: none !important;
    width: 50px !important;
    /* background:#f4b400 !important; */
    cursor: pointer !important;
    outline: none !important;
    /* box-shadow: 3px 3px 15px -10px rgba(0,0,0,0.5) !important; */
    border-radius: 50% !important;
}

.btn:hover{
    color: red !important;
}

.deleteIcon{
    width: 0.7em !important;
    height: 0.7em !important;
}











